@use '../helpers/mixins' as m;
@use '../base/breakpoints' as *;
@use '../base/animations' as *;
.main__todo {
    width: min(100% - 1rem, 600px);
    position: absolute;
    top: 10vh;
    left: 50%;
    transform: translateX(-50%);
    &__header {
        display: flex;
        align-items: center;
        justify-content: space-between;
        margin-bottom: 30px;
        color: var(--clr-neutral-100);
        &__title {
            font-size: 2rem;
            text-transform: uppercase;
            letter-spacing: 10px;
        }

        &__img-wrapper {
            all: unset;
            @include m.flex-center;
            padding: 5px;
            cursor: pointer;
            font-size: 1.5rem;
            &:focus {
                color: var(--clr-primary-100);
            }
            .icon-animation {
                animation: rotate 0.4s linear forwards;
            }
        }
    }
    &__form {

    display: flex;
    gap: 20px;
    background-color: var(--clr-neutral-200);
    padding: 20px;
    border-radius: 5px;
    align-items: center;

    .circle {
        @include m.circle;
    }

    #input {
        background: transparent;
        border: 0;
        flex: 2;
        font-size: 1.125rem;
        color: var(--clr-neutral-300);
        &:focus {
            border: 0;
            outline: none;
        }
    }

    }
    &__list {
        margin-top: 30px;
        border-radius: 5px 5px 0px 0px;
        overflow: hidden;
        &__item {
            padding: 20px;
            background-color: var(--clr-neutral-200);
            display: grid;
            grid-template-columns: auto 1fr;
            gap: 20px;
            align-items: center;
            font-size: 1.125rem;
            border-bottom: 1px solid var(--clr-neutral-400);
            color: var(--clr-neutral-300);
            min-height: 72px;
            &__check {
                all: unset;
                color: var(--clr-neutral-100);
                cursor: pointer;
                @include m.circle;
                position: relative;

                .check {
                    @include m.flex-center;
                    position: absolute;
                    width: 100%;
                    height: 100%;
                    background-image: var(--clr-primary-200);
                    border-radius: 50%;
                    inset: 0;
                    font-size: 0.6rem;
                    display: none;
                }

                &:focus-within, &:hover {
                    border-width: 1px;
                    border-image: var(--clr-primary-200) 1;
                    background: linear-gradient(var(--clr-neutral-200), var(--clr-neutral-200)) padding-box,
                    var(--clr-primary-200) border-box;
                    border-radius: 50em;
                    border: 1px solid transparent;
                }


            }

            &__wrapper {
                @include m.flex-sb;
                width: 100%;

                &__icon-wrapper {
                    display: none;
                    align-items: center;
                    gap: 15px;
                    button {
                        all: unset;
                        cursor: pointer;
                        font-size: 1.2rem;
                        transition: .3s;
                        &:hover, &:focus-within {
                            color: var(--clr-primary-100)
                        }
                    }
                    @media (max-width: map-get($breakpoint, small)) {
                        display: flex;
                    }
                }
            }
            &:hover &__wrapper__icon-wrapper {
                display: flex;
            }

        }
        &__item[data-completed] &__item__wrapper__name {
            color: var(--clr-neutral-400);
            text-decoration: line-through
        }
        &__item[data-completed] &__item__check .check {
            display: flex
        }
        &__last {
            @include m.flex-sb;
            background-color: var(--clr-neutral-200);
            padding: 15px;
            color: var(--clr-neutral-500);
            min-height: 72px;
            border-radius: 0px 0px 5px 5px;
            
            &__sort {

                @media (max-width: map-get($breakpoint, small)) {
                    position: absolute;
                    bottom: -70px;
                    left: 0;
                    width: 100%;
                    background-color: var(--clr-neutral-200);
                    padding: 15px;
                    @include m.flex-center;
                    gap: 15px;
                    border-radius: 5px;
                }
            }
            
            &__sort button {
                color: var(--clr-neutral-500);
                margin-right: 5px;
                transition: .3s;
                outline: none;
                border: 0;
                &.current {
                    color: var(--clr-primary-100);
                }
                &:hover, &:focus {
                    color: var(--clr-neutral-300);
                }
            }
            &__clear {
                transition: .3s;
                color: var(--clr-neutral-500);
                outline: none;
                border: 0;

                &:hover, &:focus {
                    color: var(--clr-neutral-300);
                }
            }
        }
        
    }
    &__footer {
        text-align: center;
        margin: 30px 0px;
        color: var(--clr-neutral-500);

        @media (max-width: map-get($breakpoint, small)) {
            position: absolute;
            bottom: -150px;
            width: 100%;
        }
    }

    
}
