.main {
    min-height: 100vh;
    position: relative;

    &__bg {
        height: 43vh;
        width: 100%;
        background: url(/app/assets/images/bg-desktop-dark.jpg);
        transition: .4s;
        &.light {
            background: url(/app/assets/images/bg-desktop-light.jpg);
        }
    }
    &__todo__w{
        box-shadow: var(--clr-neutral-700);
    }
}